pipeline/pipe_filter.json
{
	"name": "pipe_filter",
	"properties": {
		"activities": [
			{
				"name": "CSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_CSV",
						"type": "DatasetReference",
						"parameters": {
							"containername": "csvfiles",
							"filename": "csvcor",
							"separatorname": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_azuresql",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": "SalesLT",
							"tablename": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_getmetadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "metadados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadados').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'C' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_lookup_sql",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SQL').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, 'Bike')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_lookup_csv_cor",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CSV').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().cor,'azul'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "metadados",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_CSV",
						"type": "DatasetReference",
						"parameters": {
							"containername": "csvfiles",
							"filename": "*.csv",
							"separatorname": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"folder": {
			"name": "adf_02_activities"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-08T18:39:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}