pipeline/pipe_act02_parquettosql.json
{
	"name": "pipe_act02_parquettosql",
	"properties": {
		"activities": [
			{
				"name": "Metadata Parquet",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"containername": "parquetfiles",
							"filename": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "Lista Parquet files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Arquivos').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Parquet to SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"containername": "parquetfiles",
										"filename": {
											"value": "@replace(item().name,'.parquet','')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_azuresql",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": "SalesLT",
										"tablename": {
											"value": "@replace(item().name,'.parquet','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SP Remove Duplicadas",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lista Parquet files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[SalesLT].[usp_remove_parquet_dup]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Filter Arquivos",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadata Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata Parquet').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf_03_handson_01"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-09T10:35:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}